body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  color: #996515;
  font-size: 2rem;
}
.p {
  margin: 20px 0;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}
.p-1 {
  color: #8B0000;
}
.p-2 {
  color: #DB7093;
}
.p-3 {
  color: #4682B4;
}
.p-4 {
  color: #8B4513;
}
.p-5 {
  color: #008080;
}
.p-6 {
  color: #996515;
}
#q-1 {
  color: #8B0000;
}
#q-2 {
  color: #DB7093;
}
#q-3 {
  color: #4682B4;
}
#q-4 {
  color: #8B4513;
}
#q-5 {
  color: #008080;
}
#q-6 {
  color: #996515;
}
.btn {
  padding: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-position: right center;
}
#btn-1 {
  background-image: linear-gradient(to right, #8B0000 0%, #FF6347 51%, #8B0000 100%);
}
#btn-2 {
  background-image: linear-gradient(to right, #DB7093 0%, #FFB6C1 51%, #DB7093 100%);
}
#btn-3 {
  background-image: linear-gradient(to right, #4682B4 0%, #ADD8E6 51%, #4682B4 100%);
}
#btn-4 {
  background-image: linear-gradient(to right, #8B4513 0%, #DEB887 51%, #8B4513 100%);
}
#btn-5 {
  background-image: linear-gradient(to right, #008080 0%, #48D1CC 51%, #008080 100%);
}
#btn-6 {
  background-image: linear-gradient(to right, #996515 0%, #CFB53B 51%, #996515 100%);
}
.hidden {
  display: none;
}
.visible {
  display: inline;
}